<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shanezhou.springcloud.dao.IPaymentDao">

	<insert id="insert" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO Payment (serial) VALUES (#{serial});
	</insert>
	
	<resultMap id="BaseResultMap" type="com.shanezhou.springcloud.entity.Payment">
		<id column="id" property="id" jdbcType="NUMBER"/>
		<id column="serial" property="serial" jdbcType="VARCHAR2"/>
	</resultMap>
	<select id="getById" parameterType="Long" resultMap="BaseResultMap">
		SELECT * FROM PAYMENT WHERE id = #{id};
	</select>
</mapper>